@import 'reset.css';

a {
text-decoration: none;
color: #134685;
}

.popup {
font-family: 'Arial', sans-serif;
background: #fff;
width: 376px;
border-radius: 3px;
padding: 2px 2px 9px;
position: relative;
overflow: hidden;
}

.popup dt {
background: #222;
position: relative;
height: 43px;
}

.popup dt  b {
font: normal 16px/21px 'Arial', sans-serif;
text-transform: uppercase;
color: #fff;
position: absolute;
top: 11px;
left: 53px;
}

.popup li {
position: relative;
min-height: 67px;
overflow: hidden;
}

.popup li img {
position: absolute;
top: 6px;
left: 6px;
width: 119px;
height: 67px;
}

.popup li b {
font: normal 14px/16px 'Arial', sans-serif;
color: #134685;
position: relative;
top: -3px;
}

.popup li:hover {
background-color: #EEEEEE;
}

.popup li:hover b {
color: #0080ff;
}

.popup li span {
display: block;
font: normal 13px/16px 'Arial', sans-serif;
color: #888;
position: relative;
top: -2px;
}

.popup li {
margin-bottom: 3px;
padding: 6px 8px 6px 133px;
}

.popup li:last-child {
margin-bottom: 0;
}

.popup ul {
margin-bottom: 3px;
}

.popup ul:last-child {
margin-bottom: 0;
}

.logo, .gear, .angle {
position: absolute;
border: 0;
width: 43px;
height: 43px;
background: url( '../images/logo.png' ) no-repeat 0 0;
overflow: hidden;
text-indent: -9999px;
}

.gear {
background: url( '../images/gear.png' ) no-repeat 0 0;
width: 15px;
height: 16px;
cursor: pointer;
right: 10px;
top: 14px;
}

.gear:hover {
background: url( '../images/gear.png' ) no-repeat 0 -16px;
}

.angle {
background: url( '../images/angle.png' ) no-repeat 0 0;
width: 13px;
height: 7px;
right: 50px;
top: -9px;
}

.breakingnews a {
color: #fff;
}

.breakingnews {
background: #d90000;
position: relative;
width: 367px;
height: 68px;
padding: 6px 0 7px 9px;
font: normal 13px/17px 'Arial', sans-serif;
color: #fff;
overflow: hidden;
}

.breakingnews img {
position: absolute;
top: 7px;
right: 7px;
width: 119px;
height: 67px;
}

.breakingnews  b {
font: bold 13px/19px 'Arial', sans-serif;
display: block;
color: #fff;
text-transform: uppercase;
}

.breakingnews span {
display: block;
width: 220px;
}

.liveevent {
position: relative;
height: 81px;
width: 376px;
overflow: hidden;
}

.liveevent img {
position: absolute;
width: 376px;
height: 81px;
z-index: 1;

}

.transparency {
position: absolute;
width: 376px;
height: 81px;
z-index: 2;
background: url( '../images/transparency.png' ) repeat 0 0;
}

.liveevent a {
color: #fff;
position: absolute;
z-index: 3;
width: 376px;
height: 81px;
}

.liveevent b {
font: bold 14px/19px 'Arial', sans-serif;
    position: absolute;
    text-transform: uppercase;
    margin: 10px 0 0 15px;
  }
  
  .liveevent .watch {
    background: #ff0000;
    color: #fff;
    font: bold 12px/14px 'Arial', sans-serif;
    padding: 4px 7px 5px;
    position: absolute;
    margin: 40px 0 0 16px;
  }
  
    .liveevent .watch:hover {
      background: #FF4D4D;
    }
  
  .liveevent .text {
    position: absolute;
    width: 240px;
    top: 10px;
    right: 11px;
    font: bold 13px/18px 'Arial', sans-serif;
  }
  
  .popup form {
    padding: 0 0 0 53px;
  }
  
  .popup form h3 {
    font: bold 18px/23px 'Arial', sans-serif;
    margin-bottom: 4px;
  }
  
  .popup form strong {
    font: normal 15px/19px 'Arial', sans-serif;
    color: #555;
    display: block;
    margin-bottom: 27px;
  }
  .popup form p {
    position: relative;
    padding-left: 23px;
    margin-bottom: 23px;
    left: -5px;
  }
  
  .popup form p input {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .popup form .form_bottom {
    background: #eee;
    padding: 20px 15px;
    position: relative;
    height: 35px;
    width: 346px;
    left: -53px;
    bottom: -7px;
    margin-top: 30px;
  }
  
  .popup form div button {
    position: absolute;
    right: 20px;
    top: 25px;
    font: bold 16px/19px 'Arial', sans-serif;
    color: #134785;
    border: #ddd 1px solid;
    border-bottom: #bbb 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 12px 5px;
    background: #fefefe;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fefefe 0%, #fbfbfb 49%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(49%,#fbfbfb), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top,  #fefefe 0%,#fbfbfb 49%,#f5f5f5 100%);
    background: -o-linear-gradient(top,  #fefefe 0%,#fbfbfb 49%,#f5f5f5 100%);
    background: -ms-linear-gradient(top,  #fefefe 0%,#fbfbfb 49%,#f5f5f5 100%);
    background: linear-gradient(to bottom,  #fefefe 0%,#fbfbfb 49%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f5f5f5',GradientType=0 );
    -webkit-box-shadow: 0 1px 4px #eee;
    -moz-box-shadow: 0 1px 4px #eee;
    box-shadow: 0 1px 4px #eee;
    cursor: pointer;
  }
  
  .popup label {
    font-size: 15px;
    cursor: pointer;
  }

.content {
    width: 756px;
    position: relative;
    min-height: 400px;
    height: auto;
}

.newscont {
    overflow: hidden;
    margin-top: 3px;
    min-height: 407px;
    position: relative;
}

.settings {
    width: 376px;
    margin-left: 4px;
    position: absolute;
    left: 376px;
    bottom: 0px;
}

.left_side {
    width: 376px;
}

.breakingnews, .liveevent {
    display: none;
}

.hidden_link {
    position: absolute;
    top: -200px;
}

.runner {
    position: absolute;
    z-index: 10;
    background-color: #999999;
    border-radius: 3px;
    width: 7px;
    height: 0px;
    left: 369px;
    opacity: 0;
}